1. Boolean

2. E) Semua pilihan BENAR *Ragu* 

3. `pd.pivot_table(df5,index=['Mi','Re'],columns='Do',values='Sol',aggfunc='sum')
`
4. .values *Ragu*

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.values.html

5. `df2[(df2['Confirmed']>4000000)|(df2['Deaths']>300000)]`

6. .describe()

7. `df1['B1001037895']['message_id']` *Ragu* 

8. `df.loc['New'] = Series`

9. `df7.groupby('Nama_siswa',as_index=False).median()`

10. `df4=pd.merge(df2,df3,on='fruit',how='outer')`

In [4]:
import pandas as pd

dict =1 {'Do':['aku', ' 'aku', 'aku', 'aku', 'aku', amu'],, 'kamu', 'kamu', 'kamu' 'Re':['dia', 's'dia', aya'],, 'saya', 'dia', 'saya', 'dia', 'dia', 'saya' 'Mi':['mereka', 'k'mereka', 'mereka', 'mereka', ita'],, 'kita', 'mereka', 'kita', 'kita' 'Fa':[2, 8],, 2, 3, 4, 9, 9, 9,5 'Sol':['88, 11, 10, 10, 7, 9, 14, 12, 7

pd.ddf5 = pd.DataFrame.from_dict(dict1)
pdf5

     Do    Re      Mi  Fa  Sol
0   aku   dia  mereka   2    8
1   aku   dia  mereka   8   11
2   aku  saya  mereka   2   10
3   aku  saya  mereka   3   10
4   aku   dia    kita   4    7
5  kamu  saya    kita   9    9
6  kamu   dia  mereka   9   14
7  kamu   dia    kita   9   12
8  kamu  saya    kita   5    7

In [5]:
pd.pivot_table(df5,index=['Mi','Re'],columns='Do',values='Sol',aggfunc='sum')

Do            aku  kamu
Mi     Re
kita   dia    7.0  12.0
       saya   NaN  16.0
mereka dia   19.0  14.0
       saya  20.0   NaN

In [107]:
dict2 = {'Country': ['Argentina', 'Brazil', 'Indonesia'], 'Confirmed': [4000001, 300001, 1200000], 'Deaths': [300001, 200000, 800000], "Recovered": [1, 2, 3]}

df2 = pd.DataFrame.from_dict(dict2).set_index('Country')
df2

           Confirmed  Deaths  Recovered
Country
Argentina    4000001  300001          1
Brazil        300001  200000          2
Indonesia    1200000  800000          3

In [115]:
# df2['Indonesia']['Confirmed']
# df2['Confirmed']['Indonesia']
df2.loc['Indonesia'].loc['Confirmed']

1200000

In [14]:
# df2.loc[(df2['Confirmed']>4000000)&(df2['Deaths']>300000),:]
# df2[(df2['Confirmed']>4000000)&(df2['Deaths']>300000)]
df2[(df2['Confirmed']>4000000)|(df2['Deaths']>300000)]
# df2.loc[(df2['Confirmed']<=4000000)&(df2['Deaths']<=300000),:]

           Confirmed  Deaths  Recovered
Country
Argentina    4000001  300001          1
Indonesia    1200000  800000          3

In [15]:
left = {'fruit': ['Apple', 'Orange', 'Grape', 'Strawberry', 'Manggo'], 'price': [23, 16, 25, 24, 29], 'quantity': [3, 4, 3, 3, 2]}
right = {'fruit': ['Apple', 'Orange', 'Guava', 'Strawberry', 'Manggo'], 'ripeness': [8, 7, 7, 9, 9]}

dfl = pd.DataFrame.from_dict(left)
dfr = pd.DataFrame.from_dict(right)

pd.merge(dfl,dfr,on='fruit',how='outer')

        fruit  price  quantity  ripeness
0       Apple   23.0       3.0       8.0
1      Orange   16.0       4.0       7.0
2       Grape   25.0       3.0       NaN
3  Strawberry   24.0       3.0       9.0
4      Manggo   29.0       2.0       9.0
5       Guava    NaN       NaN       7.0

In [85]:
dfs = {'Nama_siswa' : ['santi', 'budi', 'ayu','santi', 'budi', 'ayu','santi', 'budi', 'ayu'], 'Nilai_ujian':[63, 94,64,93,75,81,93,55,65], 'Ranking': [4,5,7,8,3,2,3,2,9]}

df7 = pd.DataFrame.from_dict(dfs)
df7

  Nama_siswa  Nilai_ujian  Ranking
0      santi           63        4
1       budi           94        5
2        ayu           64        7
3      santi           93        8
4       budi           75        3
5        ayu           81        2
6      santi           93        3
7       budi           55        2
8        ayu           65        9

In [87]:
# df7.groupby('Nama_siswa').median()
# df7.groupby('Nama_siswa').agg('median')
# df7.groupby('Nama_siswa').agg({'Nilai_ujian':'median','Ranking':'median'})
df7.groupby('Nama_siswa',as_index=False).median()
# df7.groupby(['Nama_siswa'],as_index=False).agg(['median'])

  Nama_siswa  Nilai_ujian  Ranking
0        ayu         65.0      7.0
1       budi         75.0      3.0
2      santi         93.0      4.0

In [113]:
dict1 = {'buyer_userid': ['B1001037895', 'B01', 'B02', 'B00', 'B00', 'B00', 'B00', 'B00', 'B1001037895'], 'message_id': [135156, 5151,4564546, 545454, 23, 123, 95, 55, 78123], 'is_buyer': [74546, 454654 ,4545 ,4742, 789, 4564 ,1231 ,78, 56], 'is_seller': [48216, 218, 56, 32, 456, 28, 843, 168, 852]}

df1 = pd.DataFrame.from_dict(dict1).set_index('buyer_userid')
df1

              message_id  is_buyer  is_seller
buyer_userid
B1001037895       135156     74546      48216
B01                 5151    454654        218
B02              4564546      4545         56
B00               545454      4742         32
B00                   23       789        456
B00                  123      4564         28
B00                   95      1231        843
B00                   55        78        168
B1001037895        78123        56        852

In [116]:
# df1.loc['B1001037895'].loc['message_id'] # benar tapi error
# df1.iloc[8].iloc[0]
# df1.loc['B1001037895'].message_id
# df1['message_id']['B1001037895']
# df1['B1001037895']['message_id'] # salah

KeyError: 'message_id'

In [84]:
s = pd.Series([6,8,3,1,12])
df = pd.DataFrame(s,columns=['Month_No'])
df

   Month_No
0         6
1         8
2         3
3         1
4        12

In [62]:
Series = pd.Series([30,31,31,31,31])
Series

0    30
1    31
2    31
3    31
4    31
dtype: int64

In [83]:
# df['New'] = Series
# df.insert(loc=len(df.columns), column='New', value=Series)
# df = df.assign(New = Series)
# df.loc['New'] = Series
df

     Month_No
0         6.0
1         8.0
2         3.0
3         1.0
4        12.0
New       NaN

In [117]:
import numpy as np

my_array = np.array([[11,22,33],[44,55,66]])

df = pd.DataFrame(my_array, columns = ['Column_A','Column_B','Column_C'])

df

   Column_A  Column_B  Column_C
0        11        22        33
1        44        55        66

In [92]:
df['New'] = Series
df

   Column_A  Column_B  Column_C  New
0        11        22        33   30
1        44        55        66   31

In [118]:
# df.array()
df.values()
# df.value_counts
# np.array(df)
# df.values

TypeError: 'numpy.ndarray' object is not callable