# **Quiz Pekan - 3**

# Soal 1 : Apakah harapan kalian saat mengikuti kelas Python Datascience dasar?

Jawab:

Saya mengerti istilah - istilah, struktur dasar, dan perilaku dari bahasa python yang sering dipakai dalam Datascience seperti List, Dictionary, Series, Dataframe, library pandas, matplotlib, seaborn, dll.



---



---


## **Penjelasan Dataset**
Dataset-dataset berikut ini menunjukkan score happines dunia. Score happiness menggunakan data dari GallUp world poll. Data feature yang menjadi kata kunci di report ini adalah:

*  **Life Ladder** >> Ibarat sebuah tangga, pijakan 0 adalah dasar dan 10 adalah atas. Tangga atas menunjukkan  kehidupan terbaik  dan dasar tangga menunjukkan kehidupan terburuk 
*   **Log GDP Per capita** >> nilai ekonomi yang dihasilkan setiap individu warga
*  **Social support**  >> dukungan sosial seperti keluarga, teman, tetangga dll
*   **Healthy life expectancy at birth** >> rata-rata hidup dalam kesehatan yang baik
*   **Freedom to make life choices** >> Peluang tiap individu untuk melakukan aksi yang dipilih
*   **Generosity** >> Kemurahan hati
*  **Perceptions of corruption**  >> Korupsi


Link Download:

[world-happiness-report.csv](https://drive.google.com/uc?export=download&id=14yujHboPMR5tc_n3btPcFW4fXgy4-SzL)

[world-happiness-report-2021.csv](https://drive.google.com/uc?export=download&id=1gWCX58PyH0viABEMswzJ71sJ0v5KHco3)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [28]:
#import semua data

df1 = pd.read_csv('world-happiness-report.csv')
df2 = pd.read_csv('world-happiness-report-2021.csv')

# Soal 2 : Tunjukkan summary statistik dari dataset world happiness 2021 seperti expected output berikut. 



*   Tunjukkan summary statistik dari dataset df2



HINT:
Teman-teman perlu mendrop beberapa kolom yang tidak ditampilkan di tabel expected output dengan menggunakan atribut .drop() dari pandas DataFrame. Silahkan kunjungi referensi link berikut:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [70]:
#code here
dftwo = df2.drop(columns=['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support',	'Explained by: Healthy life expectancy',	'Explained by: Freedom to make life choices',	'Explained by: Generosity',	'Explained by: Perceptions of corruption'])
dftwo.describe()

,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,2.430329
std,1.073924,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,0.537645
min,2.523000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,0.648000
25%,4.852000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,2.138000
50%,5.534000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,2.509000
75%,6.255000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,2.794000
max,7.842000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,3.482000

Expected output:

![Expected Output:](https://drive.google.com/uc?id=1wvMxczKvP94GTAGTWmjoBydNOkK0OqU2)



---



---

# Soal 3: Happiness report negara Indonesia dari tahun 2006 - 2021

Output yang diharapkan adalah data negara Indonesia dari penggabungan dataset happiness report dan dataset happiness report 2021. Untuk sesuai dengan expected ouput, lakukan perintah-perintah berikut:


1.   Lakukan filtering dataset happiness report dari kolom ['Country name']== 
'Indonesia'
        - tambahkan atribut .reset_index(drop=True)
        - drop kolom 'Positive affect' dan 'Negative affect'

2.   Lakukan filtering dataset dari variabel no 2 hasil dropping beberapa kolom
        - tambahkan kolom ['year']=2021 pada dataset dari variabel no 2 hasil dropping beberapa kolom
        - filtering dataset tersebut menggunakan kolom ['Country name']== 
'Indonesia'
        - rename beberapa kolom dengan menggunakan atribut .rename() dari pandas, referensi dokumentasi : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html
                {      
               'Ladder score':'Life Ladder',
               'Logged GDP per capita':'Log GDP per capita',
                'Healthy life expectancy':'Healthy life expectancy at birth'}

        - drop kolom 'Dystopia + residual' dan 'Regional indicator'

3. Gabungkan data dari hasil poin 1 dan poin 2
    -  gunakan pandas concat, .concat()
    - tambahkan atribut .reset_index(drop=True)
    - rename kolom {'year':'Year'}

In [71]:
#code here

# No. 1 ####################################################################################################
# Boolean dataframe with conditional df1['Country name'] =='Indonesia'
indonesia = df1['Country name'] =='Indonesia'

# Filter ['country name'] == 'indonesia' then reset index = True and drop column 'Positive affect', 'Negative affect' 
dfindo = df1[indonesia].reset_index(drop=True).drop(columns=['Positive affect', 'Negative affect'])


# No. 2 ####################################################################################################
# Boolean dataframe with conditional ['year'] == 2021 & dftwo['Country name'] == 'Indonesia'
year = df1.year == 2021
indonesia_two = dftwo['Country name'] == 'Indonesia'

# Filter ['year'] == 2021 then access columns 'Country name' & 'year' then drop duplicate data (dataframe unique)
dfyear = df1[year].loc[:, ['Country name', 'year']].drop_duplicates()

# Merge dataframe with inner join dftwo (from no. 2) and dfyear based on key = 'Country name' 
dfadd = pd.merge(dftwo, dfyear, on='Country name', how='inner')

# Filter ['country name'] == 'indonesia' and rename columns name
dfindo_2021 = dfadd[indonesia_two].rename(columns={'Ladder score':'Life Ladder','Logged GDP per capita':'Log GDP per capita','Healthy life expectancy':'Healthy life expectancy at birth'})

# Drop columns 'Dystopia + residual' and 'Regional indicator'
dfindo_2021 = dfindo_2021.drop(columns=['Dystopia + residual', 'Regional indicator'])


# No. 3 ####################################################################################################
# concat dataframe dfindo and dfindo_2021 then reset_index(drop=True) then rename column 'year' : 'Year'
dfthree = pd.concat([dfindo, dfindo_2021]).reset_index(drop=True).rename(columns={'year':'Year'})
dfthree

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Indonesia,2021,4.947,8.850,0.771,59.840,0.713,0.347,0.915
1,Indonesia,2021,5.101,8.898,0.704,59.980,0.603,0.311,0.960
2,Indonesia,2021,4.815,8.943,0.675,60.120,0.596,0.164,0.968
3,Indonesia,2021,5.472,8.975,0.779,60.260,0.784,0.191,0.911
4,Indonesia,2021,5.457,9.022,0.816,60.400,0.700,0.448,0.954
5,Indonesia,2021,5.173,9.069,0.825,60.620,0.878,0.438,0.962
6,Indonesia,2021,5.368,9.114,0.834,60.840,0.770,0.354,0.962
7,Indonesia,2021,5.292,9.155,0.794,61.060,0.781,0.376,0.973
8,Indonesia,2021,5.597,9.190,0.905,61.280,0.719,0.408,0.970
9,Indonesia,2021,5.043,9.225,0.809,61.500,0.779,0.471,0.946
10,Indonesia,2021,5.136,9.262,0.792,61.700,0.830,0.500,0.890
11,Indonesia,2021,5.098,9.300,0.796,61.900,0.865,0.488,0.900
12,Indonesia,2021,5.340,9.339,0.809,62.100,0.879,0.512,0.868
13,Indonesia,2021,5.347,9.377,0.802,62.300,0.866,0.555,0.861
14,Indonesia,2021,5.345,9.365,0.811,62.236,0.873,0.542,0.867

Expected output:

![Expected Output:](https://drive.google.com/uc?id=1FRTJ03i_khNOWeIeEGaAOSsurwKlZ8ex)



---



---

# Soal 4: Visualisasi lineplot Life Ladder negara Indonesia

*   Gunakan library seaborn untuk plotting line plot kolom Life Ladder dari hasil penggabungan negara Indonesia tahun 2006-2021 (soal 3) seperti expected output, jika tidak bisa menyelesaikan soal 3 silahkan download data berikut 
[Download.csv](https://drive.google.com/uc?export=download&id=19g5oURnRNlbXPUEQQyvimoEx8DwqMPLW) 
*   Berikan insight dari hasil visualisasi tersebut

In [ ]:
#code here

Expected output:

![Expected Output:](https://drive.google.com/uc?id=16Qlf66XYLNSGtJpCx1hWkQI0CmffaaGW)

#### insight here



---



---

# Soal 5: Urutkan Ladder Score tertinggi dengan negara-negara Asia Tenggara seperti expected output

Untuk mendapatkan expected output, lakukan perintah-perintah berikut:

*   Sorting data berdasarkan kolom 'Ladder Score' dari dataset world happiness 2021 dengan hanya menampilkan kolom ['Country name', 'Ladder score', 'Regional indicator']. Sorting data menggunakan sort_values() dari pandas, silahkan kunjungi dokumentasi berikut: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html
*   Urutan pertama diperoleh dari hasil filtering dengan kondisi ['Ladder score']==['Ladder score'].max()

*   Urutan negara-negara Asia tenggara diperoleh dari hasil Filtering kolom ['Regional indicator'] == 'Southeast Asia'
*   Lakukan concatination antara data Urutan pertama dengan urutan negara Asia Tenggara menggunakan pd.concat()
*   Tambahkan kolom ['Rank'] yang berisi dari indeks hasil penggabungan
*   drop kolom 'Regional indicator'

In [ ]:
#code here

Expected output:

![Expected Output:](https://drive.google.com/uc?id=1JTwA9auco2loNLRXHQFy0k6EpFhJeqA5)



---



---

# Soal 6: Visualisasi Scatter plot

Buatlah visualisasi scatter plot (perpaduan seaborn dan matplotlib) dari df2 antara GDP per capita ('Logged GDP per capita') dan  skor korupsi ('Perceptions of corruptions')  sesuai expected output dengan ketentuan berikut:

Gunakan kolom skor kebebasan beraksi ('Freedom to make life choices') sebagai ukuran pointnya kalikan suatu angka yang cukup besar agar terlihat.

Gunakan kolom skor kesehatan ('Healthy life expectancy') sebagai warna point, berikan cmap 'plasma'.

Gunakan regplot pada seaborn (sns.regplot) dengan argumen scatter=False dan color = 'black'

In [ ]:
#code here

Expected output:

![Expected Output:](https://drive.google.com/uc?id=1KlQcNK6RNMNGoRkxwo4KPUgX40efZH7a)