# Soal 1. Pemahaman k-means clustering

Jelaskan bagaimana cara kerja k-means clustering!

Jawab disini:

k-mean cluster mengelompokan bentuk data yang terlihat similiar menjadi sebuah cluster.

Steps:
1. Menentukan jumlah cluster (dalam hal ini `k`) yang ingin diidentifikasi dalam data.
2. Memilih random `k` titik data yang berbeda yang menjadi inisial cluster.
3. Menghitung jarak antara titik data (dari data selain inisial cluster) ke setiap `k` inisial cluster.
4. Meng-assign titik data tadi menjadi cluster dengan jarak terdekat.
5. Mengulangi langkah dari langkah ketiga sampai dengan seluruh titik data telah di-clustering.
6. Menghitung rata-rata (mean) dari setiap cluster.
7. Mengulangi langkah ketiga dan keempat tetapi dengan memakai jarak ke setiap mean cluster.

Source: <a href='https://youtu.be/4b5d3muPQmA?t=18'>StatQuest: K-means clustering</a>



---

---



---













---

Download disini [pelanggan.csv](https://drive.google.com/uc?export=download&id=1jX_rLPfcCfzEEgy9xaoALmpqfU2s5TTB)

In [11]:
import pandas as pd
df = pd.read_csv('pelanggan_supermarket.csv')
df.head()

,ID_pelanggan,Jenis Kelamin,Umur,Pendapatan pertahun (juta),Skor Belanja (1-100)
0,1,Laki-laki,19.0,15,39.0
1,2,Laki-laki,21.0,15,81.0
2,3,Perempuan,20.0,16,6.0
3,4,Perempuan,23.0,16,77.0
4,5,Perempuan,31.0,17,40.0

# Soal 2. Clustering data menggunakan k-means clustering

Dalam soal ini, kalian diminta untuk melakukan clustering antara data Umur dan Skor Belanja(1-100). Namun, clustering tidak bisa dilakukan karena data memiliki outlier dan missing value. Maka, lakukanlah tahapan-tahapan berikut:

*   Handling missing value dengan menggunakan method ='ffill'
*   Handling outlier menggunakan metode Interquartile range
*   Lakukan rescaling data menggunakan StandardScaler
*   Lakukan clustering menggunakan kmeans clustering dengan k =2, dan visualisasikan.. 
*   Gunakan Elbow method untuk menemukan jumlah k kluster yang tepat
*   Gunakan k=3 (rekomendasi methode Elbow) lalu visualisasikan
*   Hitung silhoutte Coefficient dari ke dua hasil prediksi klustering tersebut

In [13]:
#code here
import numpy as np
import matplotlib.pyplot as plt

# Get upper and lower bound of data with q1, q2, and interquartil
# Param     : x dataframe attribute type
# Return    : list of float tuple 
def bound(x):
    # Calculate q1, q3 and interquartile
    q1 = np.percentile(x, 25)
    q3 = np.percentile(x, 75)
    iqr = q3 - q1

    # Calculate the lower and upper bound of data
    lower_ = q1 - (iqr * 1.5)
    upper_ = q3 + (iqr * 1.5)

    return (upper_, lower_)

# Replace NaN value with last valid data
df = df.fillna(method='ffill')

# Get tuple of upper and lower bound of column Umur and Skor Belanja (1-100)
upper_umur, lower_umur = bound(df['Umur'])
upper_skor, lower_skor = bound(df['Skor Belanja (1-100)'])

# Filter value data with interquartil range
df = df[(df['Umur'] < upper_umur) & (df['Umur'] > lower_umur) & (df['Skor Belanja (1-100)'] < upper_skor) & (df['Skor Belanja (1-100)'] > lower_skor)]

In [ ]:
# 2-means clustering

In [ ]:
# Elbow method

In [ ]:
# 3-means clustering

Expected output:

n_cluster =2

![](https://drive.google.com/uc?id=1RHedPeGR48w-cWl7WWkIsHTSB2DRgynO)


Elbow graph

![](https://drive.google.com/uc?id=1S3_uvQWzJCi8YwSBbpu2imKbUBZ3JdmV)

n_cluster =3

![](https://drive.google.com/uc?id=1EVMDQgPpC8vYpfxilyiJMRDNIr-JXULd)



---



---



---

# Soal 3. Analisa Data Hasil Clustering

Dari hasil klustering diatas, buatlah sebuah analisa segmentasi pelanggan untuk kemajuan supermarket.

Jawab disini: